@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:0.9; } }

.wine-review {
    background-image: url("./vine-field1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 4em;
  }

.winelist {
    background-image: url("./vine-field1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3em;
}

.homepage {
    background-image: url("./vine-field1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3em;
}

.splash {
    background-image: url("../background.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border: 15px solid mintcream;
}

.splash-page-header {
    position: fixed;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: lighter;
    color: mintcream;
    border-width: 1px;
    padding: 100px 75px;
    text-align: left;
    opacity:0;
    /*------------ANIMATIONS-------------------*/
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;

    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

.wine-col-detail {
    text-align: left;
    font-size: 18px;
    font-family: Avenir monospace;
}
